body {
  margin: 0;
  padding: 0;
  font-size: 17px;
}

header {
  background-color: #43a047;
}

nav {
  text-transform: uppercase;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

a {
  text-decoration: none;
  color: white;
}

embed {
  width: 80%;
  height: 900px;
  padding-top: 50px;
}

.button {
  background-color: #2e7d32;
}

.button:hover{
  background-color: #66bb6a;

}

body {
  font-family: 'Roboto', sans-serif;
}

.left {
  float: left;
}

.right {
  float: right;
}

.active_acc {
  background-color: #66bb6a !important;
}

.logo {
  font-weight: bold !important;
}

.logo img {
  width: 30px;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

main {
  padding-top: 15px;
}

.inline_ul li{
  display: inline;
}

.button {
  margin: 5px;
  padding: 6px 8px 6px 8px;
}

.button i {
  display: inline;
}

.bio img {
  width: 350px;
}

.home {
  height: 700px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  vertical-align: middle;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
}


button.accordion {
  background-color: #9e9e9e;
  color: #EEE;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  text-align: center;
  text-transform: capitalize;
  border: none;
  outline: none;
  transition: 0.2s;
  margin: 8px;
}

button.accordion.active, button.accordion:hover {
    background-color: #66bb6a;
}

button.accordion1 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.2s;
  margin: 8px;

  margin-right: -4%;
}

button.accordion1.active, button.accordion1:hover {
    background-color: #66bb6a;
}

button.accordion2 {
  display: none;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.2s;
  margin: 8px;
}

button.accordion2.active, button.accordion2:hover {
    background-color: #66bb6a;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}
